@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@1,700&family=Yantramanav:wght@700&display=swap");
:root {
  --black: #202020;
  --max-height-header: 60px;
  --min-height-header: 50px;
  --color-100: #e2e2fd;
  --color-500: #836de7;
  --color-600: #7651da;
  --color-700: #6642c0;
  --deg: 90deg;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #eee;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border: none;
  color: var(--black);
}
/* GLOBAL */
::-webkit-scrollbar {
  width: 2px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: var(--color-500);
  border-radius: 25px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--color-600);
}
h1 {
  font-family: "PT Serif", serif;
}
h2,
h3,
h4,
h5,
a {
  font-family: "Yantramanav", sans-serif;
  text-transform: capitalize;
}
button,
p {
  font-family: "Hind Guntur", sans-serif;
}
span {
  color: var(--color-700);
}
.title-section {
  text-transform: uppercase;
  color: #303030;
  text-align: start;
}
.header-section {
  margin: 16px 0px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  & a {
    font-size: 14px;
    color: var(--color-700);
    transition: all 0.3s;
    &:hover {
      border-bottom: 1px solid;
      color: var(--color-500);
    }
  }
}
.container {
  max-width: 90%;
  margin: 0 auto;
  padding-top: 60px;
}
.btn {
  border: 1px solid #eee;
  border-radius: 20px;
  font-size: 12px;
  padding: 10px 16px;
  cursor: pointer;

  @media (width <= 768px) {
    font-size: 12px;
    padding: 6px 16px;
  }
}
.swiper-button-next,
.swiper-rtl,
.swiper-button-prev {
  position: absolute !important;
  top: 45% !important;
}
.swiper-button-next,
.swiper-rtl,
.swiper-button-prev,
::after {
  color: #fff;
  font-size: 24px !important;
}
.swiper-pagination-bullets .swiper-pagination-bullet {
  height: 8px;
  width: 16px;
  border-radius: 25px;
  background-color: var(--color-700);
}
.swiper-pagination {
  position: initial !important;
}
.grid-books {
  margin-top: 32px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  gap: 16px;
}
/* NAVIGATION */
.container-header {
  background-color: #eee;
  height: var(--max-height-header);
  box-shadow: 0px 0px 1px #202020;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;

  & .navigation {
    max-width: 90%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 0px;

    & .logo {
      cursor: pointer;
      z-index: 2;
      font-size: 20px;
      color: var(--black);
    }
    & .options {
      display: none;
    }
  }

  @media (width <= 768px) {
    & {
      height: var(--min-height-header);
    }
  }
}
/* NAVIGATION ITEMS */
#navigation-items {
  display: flex;
  gap: 32px;

  & .link {
    color: var(--black);
    transition: all 0.5s;
  }
  & .link:hover {
    padding-bottom: 0.3rem;
    color: var(--color-700);
    border-bottom: 0.1rem solid var(--color-700);
  }

  @media (width <= 768px) {
    & {
      padding-top: var(--min-height-header);
      position: fixed;
      background-color: var(--color-100);
      top: -500%;
      transition: top 1s;
      left: 0;
      right: 0;
      display: flex;
      gap: 0;
      flex-direction: column;
    }
    &.active {
      top: 0;
    }
    & .item {
      width: 100%;
      & .link {
        display: inline-block;
        text-align: center;
        padding: 12px 0px;
        width: 100%;
      }
      & .link:hover {
        color: var(--color-100);
        background-color: var(--color-500);
        transition: background-color 0.5s;
        padding: 12px 0px;
        border: 0;
      }
    }
  }
}
#btn-burger {
  display: none;
  width: 24px;
  cursor: pointer;

  @media (width <= 768px) {
    display: block;
    z-index: 2;
  }
}
#btn-burger img {
  pointer-events: none;
}
/* HERO */
.grid-hero {
  display: grid;
  grid-template-columns: 4fr 3fr;
  min-height: 100vmin;
  gap: 32px;
  place-items: center;

  & .hero-image {
    width: 100%;
    object-fit: cover;
  }

  @media (width <= 768px) {
    & {
      padding-top: calc(20px + var(--min-height-header));
      padding-bottom: 70px;
      display: grid;
      grid-template-columns: 1fr;
    }
    & .hero-image {
      width: 75%;
    }
  }
}
.hero-info {
  & h1 {
    margin-bottom: 16px;
    color: var(--black);
    font-size: 52px;
  }
  & p {
    max-width: 500px;
  }
  & .hero-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 32px;
  }

  @media (width <= 768px) {
    & h1 {
      font-size: 36px;
    }
    & p {
      font-size: 12px;
    }
  }
}
.hero-buttons {
  & .btn-login {
    background-color: transparent;
    border: 1px solid var(--color-700);
    color: var(--color-700);
    transition: background-color 0.5s;
  }
  & .btn-login:active {
    background-color: var(--color-100);
  }
  & .btn-sign-up {
    background-color: var(--color-500);
    color: #fff;
    transition: background-color 0.5s;
  }
  & .btn-sign-up:hover {
    background-color: var(--color-600);
  }
  & .btn-sign-up:active {
    background-color: var(--color-700);
  }

  @media (width <= 768px) {
    & {
      margin-top: 16px;
    }
  }
}
/* SECTION TWO */
.section-two {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: space-around;
  & .card {
    min-width: 120px;
    width: 300px;
    height: fit-content;
    padding: 20px;
    text-align: center;

    & h3 {
      margin: 16px 0px;
      font-weight: bold;
    }
    & img {
      color: var(--color-700);
    }
    & svg {
      width: 40px;
      stroke: var(--color-700);
      fill: var(--color-700);
    }
  }
}
/* MAIN */
.container-main {
  padding-top: 60px;
}
.card-book {
  border-radius: 4px;
  overflow: hidden;

  & img {
    object-fit: cover;
    cursor: pointer;
    width: 100%;
    aspect-ratio: 2/3;
    transition: transform 0.5s;
  }
  &:hover img {
    transform: scale(1.03);
  }
  & .content {
    padding: 4px;
  }
  & h3 {
    font-size: 14px;
    color: var(--color-700);
  }
  & h4 {
    font-size: 12px;
    color: gray;
  }
  & p {
    display: none;
    margin-top: 4px;
    font-size: 10px;
  }
}
/* CATEGORY SECTION */
.category-section {
  & .box-category {
    cursor: pointer;
    overflow: hidden;
    border-radius: 20px;
    min-height: 120px;
    display: grid;
    place-items: center;
    opacity: 0.7;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.208);
  }
  & .category-slider {
    padding: 24px 0px !important;

    & .box-category span {
      color: #fff;
      font-size: 1.2rem;
    }
    & .box-category-ciencia {
      background: linear-gradient(var(--deg), #00b800, #29fe1d);
    }
    & .box-category-terror {
      background: linear-gradient(var(--deg), #202020, #5d5d5d);
    }
    & .box-category-romance {
      background: linear-gradient(var(--deg), #920a0a, #ff2323);
    }
    & .box-category-cuento {
      cursor: pointer;
      background: linear-gradient(var(--deg), #ad00b1, #ff54f6);
    }
    & .box-category-novela {
      background: linear-gradient(var(--deg), #68921e, #9acd32);
    }
    & .box-category h2 {
      color: #fff;
      text-align: center;
    }
  }
}
/* HARRY POTTER */
.potter-bg {
  margin-top: 60px;
  background-image: url(./images/Harry-Potter/wallapaper.jpg) !important;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  background-position: center bottom;
}
.section-potter {
  max-width: 80%;
  height: 100%;
  padding: 60px 0px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;

  & .harrySwiper {
    max-width: 204px !important;
    max-height: 295px !important;
    height: 100% !important;

    & .swiper-slide {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 4px;
      font-size: 22px;
      font-weight: bold;
      color: #fff;
    }
  }
  & .saga {
    padding: 16px 20px;
    border-radius: 4px;
    grid-column: 6/-1;
    background: rgba(0, 0, 0, 0);
    backdrop-filter: blur(10px);
    & h1 {
      margin-bottom: 32px;
      color: #fff;
    }
    & p {
      color: #fff;
    }
  }

  @media (width <= 768px) {
    & {
      display: flex;
      flex-direction: column;
      gap: 5rem;
    }
    & .harrySwiper {
      max-width: 130px !important;
    }
  }
}
/* FOOTER */
footer {
  margin-top: 60px;
  background-color: var(--color-500);
  padding: 60px;
}
.footer-navigation-items {
  display: flex;
  justify-content: center;
  gap: 32px;

  & .link {
    color: #fff;
  }

  @media (width <= 350px) {
    & {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }
    & footer {
      padding: 30px;
    }
  }
}
